@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;

    --gradient-color-one: 222deg 86% 53%;
    --gradient-color-two: 281deg 100% 55%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9;
  }

  * {
    @apply scroll-smooth border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }

  .no-visible-scrollbar::-webkit-scrollbar {
    display: none;
  }

  summary {
    list-style: none;
  }
}

@layer utilities {
  .custom-hover {
    @apply shadow-2xl duration-300 hover:-translate-y-[4px] hover:border-purple-500;
  }

  .gradient-border-card-animation {
    --gradient-color-one: #215dee;
    --gradient-color-two: #b61cff;

    /* because of tailwindcss weird color syntax we have to use apply */
    /* using var(--bg-background) wont work because of tailwindcss syntax */
    @apply bg-background duration-300 hover:-translate-y-[4px];
    position: relative;
    --rotation: 0deg;
    & > * {
      position: relative;
      z-index: 2;
    }
    &::before {
      content: "";
      position: absolute;
      background: transparent;
      inset: 0px;
      z-index: 1;
      opacity: 0;
      border-radius: var(--radius);
      transition: opacity 0.25s;

      background: linear-gradient(
        var(--rotation),
        transparent 60%,
        var(--gradient-color-one) 70%,
        var(--gradient-color-two) 90%
      );
    }
    &::after {
      /* because of tailwindcss weird color syntax we have to use apply */
      /* using var(--bg-background) wont work because of tailwindcss syntax */
      @apply bg-background;
      content: "";
      position: absolute;
      inset: 1px;
      z-index: 1;
      border-radius: var(--radius);
    }
    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  .gradient-underline-animation {
    --gradient-color-one: #215dee;
    --gradient-color-two: #b61cff;

    display: inline;
    background: linear-gradient(
        to right,
        var(--gradient-color-one),
        var(--gradient-color-two)
      )
      no-repeat;
    background-size: 0 2px;
    background-position: 0 98%;
    transition: background-size 0.5s cubic-bezier(0.2, 0.63, 0.36, 1);

    &:hover {
      background-size: 100% 2px;
    }
  }

  /* Dark overlay  */
  .overlay {
    position: absolute;
    content: "sad";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
    /* i want a dark gradient overlay which starts is dark at the 30% bottom */

    background: linear-gradient(transparent 30%, hsla(0, 0%, 11%, 0.9));
  }

  /* Stack content on each other using grid instead of position relative and absolute */
  /* For stacking images and contents like homepage carousel */
  .stackContent {
    display: grid;
    align-items: end;
    justify-items: start;
    isolation: isolate;

    & > * {
      grid-column: 1/-1;
      grid-row: 1/-1;
    }

    & > img {
      z-index: -1;
    }
  }

  /* For text editor admonitions like tip danger note caution info */
  .tip {
    @apply rounded-lg border border-blue-500 bg-blue-100 p-2 text-blue-950 dark:bg-blue-500 dark:text-blue-50;
  }
  .danger {
    @apply rounded-lg border border-red-500 bg-red-100 p-2 text-red-950 dark:bg-red-500 dark:text-red-50;
  }
  .caution {
    @apply rounded-lg border border-yellow-500 bg-yellow-100 p-2 text-yellow-950 dark:bg-yellow-500 dark:text-yellow-50;
  }
  .note {
    @apply rounded-lg border border-slate-500 bg-slate-100 p-2 text-slate-950 dark:bg-slate-500 dark:text-slate-50;
  }
  .info {
    @apply rounded-lg border border-green-500 bg-green-100 p-2 text-green-950 dark:bg-green-500 dark:text-green-50;
  }
}
@layer components {
  .spinner {
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--foreground);
    border-right-color: var(--border);
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--border);
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
